/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family: 'Calibri';
}
a{
	font-family: 'Calibri';}
html,body {
	margin:0;
	padding:0;
	overflow-x:hidden;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a:focus{
	outline: none;
	text-decoration: none;
}
a:hover{
	color:auto;
	text-decoration: none;
}

/*CLEARFIX*/
:focus {
  outline: 0; }

:active {
  outline: none; }

body {
  line-height: 1;
  color: black;
  background: white;
      font-family:Arial; }

table {
  position: relative;
  right: 8px;
  border-collapse: separate;
  border-spacing: 0;
  /* right: 50px; */ }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  overflow: visible;
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/*Dop class*/
.left{
	float: left;
}
.right{
float: right;} 

.no-padding{
	padding: 0;
}
/*Site style*/
.header{
	position: relative;
	height: 610px;
	width: 100%;
	background: url(../img/header-bck.png) center top, #0e1842;}
.header-top{
	height: 69px;
	padding-top: 12px;
	position: relative;
	background: url(../img/shadow-menu.png)no-repeat center;
	background-position-x:80%;
}
.header-top:before{
	content: '';
	height: 50px;
	width: 100%;
	position: absolute;
	top:100%;
	background: url(../img/shadow-line.png)no-repeat center;
}
.logo b{
	margin-left: 5px;
	color: white;
	font-family: 'calibri';
	font-size:20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black;}
.header-menu{
	    position: static;
	    text-align: center;
}
.header-menu li{
	display: inline-block;
	padding: 4px 0;}
.header-menu li a{
	color: white;
	margin: 0 13px;
	font-size: 15px;
	font-family: 'Calibri';
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3;
}

.header-menu li a:hover{
	text-decoration: none;
	color:rgba(255,255,255,.8);
}

.header-menu .active-menu{
	height: 3px;
	width: 82px;
	position: absolute;
	top: 96%;
	left: 0;
	background: #a5d1ea;
	background: linear-gradient(to right, #a5d1ea 0%,#469ccf 100%);
}
.lang {
		line-height: 1.3;
        overflow: hidden;
        height: 20px;
        top: 18px;
        margin-right: 10px;
        width: 55px;
        padding-right: 15px;
        position: relative;
        cursor: pointer;
        float: right;
        padding-left: 10px;
        border-left: 2px solid white;
        background: url(../img/arrow-lang.png) no-repeat 40px 8px; }
        .lang-but {
		    left: 0;
		    position: absolute;
		    top: 0;
		    height: 19px;
		    width: 53px;
		    transition: 0.3s all;
		    border:1px solid transparent;
		}
		.lang-but:hover{
		    border:1px solid rgba(255,255,255,0.5);
		}
        .lang .lang-select {
	        text-decoration: none;
	        color: white;
	        text-transform: uppercase;
	        font-size: 14px;
	        font-family: Calibri, Tahoma, sans-serif, Arial; ';
	        text-decoration: none;
	        vertical-align: middle; 
        transition:.3s all;}
        .lang .lang-select:hover{
       		color: #D2D2D2;
         }
        .lang .lang-select img {
            position: relative;
            top: 1px;
            left: 3px;
            width: 15px;
            height:11px;
            margin-right: 11px;
        }

.slider-top{
	position: relative;
	height: 400px;
	width: 100%;
	margin-top: 100px;
}
.slider-top-block{
	height: 350px;
	width: 535px;
	background: url(../img/slider-bck.png)no-repeat left;
	position:absolute;
	top: 101px;
	left: -100px;
}
.sl-top-show{
	height: 200px;
	width: 350px;
	display: inline-block;
	margin-left: 105px;
	overflow: hidden;
}
.sl-top-slogan{
	color: #57edff;
	font-family: 'Calibri';
	font-weight: bold;
	font-size: 18px;
}
.sl-top-h2{
	color: white;
	font-family: 'Calibri';
	font-weight: bold;
	font-size: 36px;
}
.sl-top-text{
	color: white;
	font-family: 'Calibri';
	font-size: 14px;
	margin-top: 10px;
}
.sl-top-all{
	position: relative;
}
.sl-top-block{
	    padding: 20px 15px;
    width: 345px;
    height: 220px;
    float: left;
     box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}
.sl-top-arrow{
	display: inline-block;
	position: absolute;
	bottom: 155px;
}
.sl-top-arrow-left,.sl-top-arrow-right{
	transition:0.3s all;
	transform: scale(1);
	display: inline-block;
	height: 20px;
	width: 25px;
	cursor: pointer;
}
.sl-top-arrow-left{
	background: url(../img/arrow-left.png)no-repeat;
}
.sl-top-arrow-right{
	background: url(../img/arrow-right.png)no-repeat;
}
.sl-top-arrow-right:active,.sl-top-arrow-left:active{
	transform: scale(0.90);
}



                /*services*/
.services{
	padding-bottom: 50px;
	min-height: 400px;
	position: relative;
}
.services:after{
	content: "";
	width: 100%;
	height: 300px;
	background: url(../img/back-two.png)repeat-x center -50px;
	position: absolute;
	top: -85px;
}
.tablet-block .title{
    color: #6d81b4;
    z-index: 1;
    position: relative;
    font-size: 24px;
	text-transform: uppercase;
	font-family: 'Calibri';
	font-weight: bold;
}
.tb-block{
	position: relative;
	z-index: 1;
	display: block;
	float: left;
	clear: both;
	margin-top: 50px;
	width: 100%;
}
.tb-name{
	position: relative;
}
.tb-name li{
	display: inline-block;
	color: #bebebe;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Calibri';
	padding: 10px 15px;
	cursor: pointer;
}
.tb-line{
	overflow: hidden;
	height: 4px;
	width: 100%;
	border-top: 1px solid #b5b5b5;
	background: #dedede;
	box-shadow: inset 0px 1px 0 #d0d0d0;
}
.tb-line-block{
	height: 4px;
	width: 81px;
	border: 1px solid #986dbc;
	background: #ae8ddc;
	box-shadow:  0px 1px 0 #d0d0d0;
	bottom: 0;
	position: absolute;
	border-radius: 3px;
}
.tb-name li.tb-active{
	color: #ae8ddc;
}
.tb-info{
	display: none;
}
.tb-info:first-child{
	display: block;}
.tb-block-info{
	margin-top: 25px;
}
.tb-info-title{
	font-family: 'Calibri';
	font-size: 18px;
	color: #4575ab;
	text-transform: uppercase;
	width: 55%;
}
.tb-info-text{
	margin-top: 20px;
	font-size: 16px;
}
.price .tb-info-text{
	    color: rgba(255,255,255,0.7);
	}
.tb-info-buttom{
	text-align: right;
	margin-top: 40px;
}
.tb-info-buttom a{
	color: white;
	height: 30px;
	min-width: 100px;
	padding: 0 10px;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	margin: 0 15px;
	position: relative;
	transition:0.5s all;
}
 a.but-blue{
	-webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	background:linear-gradient(to bottom, #4f83b5 4%,#2d4f93 100%);
	border:1px solid #1b3d86;
	transition:0.5s all;

 }
 a.but-blue p,a.but-purple p{
 	padding: 0 15px;
	-webkit-transform: skew(30deg);
	   -moz-transform: skew(30deg);
	     -o-transform: skew(30deg);

 }
.tb-info-buttom a.but-blue{
	transition:0.5s all;
	-webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	background:linear-gradient(to bottom, #4f83b5 4%,#2d4f93 100%);
	border:1px solid #1b3d86;
	transition:0.5s all;

}
.tb-info-buttom a.but-blue:hover{
	background:linear-gradient(to bottom, #4f83b5 40%,#2d4f93 100%);
}
.feedback .submit{
	background:linear-gradient(to bottom, #4f83b5 40%,#2d4f93 100%);
}

.feedback label.submit:hover::before{
	border-color: #6588B7 transparent transparent transparent;}
.feedback label.submit:hover::after{
	border-color: transparent transparent #6588B7 transparent;}
a.but-purple{
	transition:0.5s all;
	-webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	background: linear-gradient(to bottom, #ad8cdb 0%,#996ebd 100%);
	border:1px solid #7c50a1;
	transition:0.5s all;
    
}
.tb-info-buttom a.but-purple:hover{
	background: linear-gradient(to bottom, #ad8cdb 50%,#996ebd 90%);
}
.services.our-services{
	padding-bottom: 100px;
}
.services.our-services:after{
	height: 120%;
	top:0;
 	background: linear-gradient(to right, rgba(234,233,243,0) 0%,rgba(234,233,243,1) 100%);
}

.our-services .tablet-block .title{
	color: #654185;
	background: url(../img/our-servises.png)no-repeat center;
	height: 70px;
	width: 340px;
	position: relative;
	bottom: 15px;
	text-align: center;
	line-height: 90px;
}
.our-services .tb-line-block{
	background: #6aa8e3;
	border:1px solid #5688b8;
}
.our-services .tb-info-title{
	color: #654185;

}
.our-services .tb-name .tb-active{
	color:#5688b8;
}
.services.price .title{
	color: white;
	position: relative;
	padding-left: 25px;
}
.services.price .tablet-block{
	margin-top: 15px;
}
.services.contact .tablet-block{
	margin-top: 50px;
}
.services.price:after{
	height: 150%;
	background: url(../img/bck-price.png)no-repeat center -35px;
}
.services.price .tb-name{
	text-align: right;
}
.services.price .tb-name .tb-active{
	color: white;
}
.services.price .tb-name .tb-line{
	/*border-top: 1px solid #3f507f;*/
	background: linear-gradient(to right, #8D8ABA 0%,#3b537e 32%,#3b537e 32%,#3b537e 100%);
	/*background: #465589;*/
	/*box-shadow: inset 0px 1px 0 #425385;*/
	box-shadow:none;
	border-top:none;
}
.services.price .tb-name .tb-line-block{
	background: #afbeff;
	border:1px solid #8391d4;
}
.services.price .tb-info-title{
	color: white;
}
.owl-item{
}
.price-slide{
	width: 250px;
	text-align: center;
	color: white;
	margin-right: 0;
	background: url(../img/slide-line.png)no-repeat right;
}
.p-title{
	font-weight: bold;
	font-size: 28px;
}
.price-slide span{
	font-size: 16px;
	color: rgba(255,255,255,0.7);
}
.p-name{
	font-size: 18px;
	text-transform: uppercase;
	width: 150px;
	margin: 10px auto;
}
.p-text{
	font-size: 16px;
	text-align: left;
	color: rgba(255,255,255,0.7);
	width: 200px;
	margin: 10px auto;
}
.owl-nav .owl-next{
	background:url(../img/arrow-slide-right.png) no-repeat;
	right: -50px;
}
.owl-nav .owl-prev{
	background:url(../img/arrow-slide-left.png) no-repeat;
	left: -50px;
}
.owl-nav .owl-next, .owl-nav .owl-prev{
	transition:0.2s all;
	display: block !important;
	color: rgba(0,0,0,0);
	height: 30px;
	width: 36px;
	top:48%; 
	position: absolute;
}
.owl-nav .owl-next, .owl-nav .owl-prev{
	transform:scale(1);
}
.owl-nav .owl-next:active, .owl-nav .owl-prev:active{
	transform:scale(0.95);
}

.services.portfolio:after{
content: "";
width: 100%;
min-height: 600px;
background: url(../img/bck-port.png)no-repeat center top;
}
.services.portfolio .tablet-block{
	margin-top: 50px;
}
.services.portfolio .title{
	margin-right: 0;
	padding-right: 0;
	position: relative;
	top: 25px;
}
.port-slide{
	position: relative;
	overflow: hidden;
}
.port-block{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	box-sizing: border-box;
	border:10px solid rgba(22,30,70,.85);
}
.port-block span{
	width: 100%;
	text-align: center;
	background: rgba(22,30,70,.85);
	display: block;
	color: white;
	font-size: 16px;
	position: absolute;
	bottom: -90px;
	transition:0.3s all;
}
.port-block:hover span{
	bottom: 0;
}
.port-block span b{
	font-weight: normal;
	text-transform: uppercase;
	height: 60px;
	display: block;
	padding-top: 15px;
	overflow: hidden;
}
.port-block span p{
	height: 80px;
	overflow: hidden;
}
.services.partners{
	min-height: 400px;
	background: 
}
.services.partners:after{
	min-height: 450px;

	top: -15px;
	background: linear-gradient(to right, #e9e8f2 0%,#fdfdfe 100%);
}
.services.partners .title{
	position: relative;
	color: #654185;
	z-index: 6;
	background: url(../img/title-partner.png);
	height: 70px;
	width:336px;
	line-height: 70px;
	text-align: center;
	position: relative;
	bottom: 30px;
	right: 50px;
}
.partner-title{
	position: relative;
	z-index: 1;	
	color: #4575ab;
	font-size: 18px;
	text-transform: uppercase;
	clear: both;
	text-align: left;
	margin: 15px 0;
}
.partner-text{
	position: relative;
	z-index: 1;
	font-size: 16px;
	text-align: left;
}
.partner-logo{
	margin-top: 35px;
	position: relative; 
	z-index: 1;
	display: inline-flex;
	width: 100%;
}
.partner-block{
	width: 25%;
	text-align: center;
}
.services.price.reviews{
	min-height: 450px;
}
.services.price.reviews:after{
	background: url(../img/bck-price2.png)no-repeat center -80px;
}
.services.price.reviews .title{
	margin-right: 15px;
}
.services.price.reviews .tb-info-buttom{
	text-align: center;
}
.services.contact{
	min-height: 430px;
}
.services.contact:after{
	background: url(../img/bck-contact.png)no-repeat center 10px;
	min-height: 580px;
}
.title.purple{
	color:#654185;
}
.contacts{
	float: left;
	display: inline-block;
	position: relative;
	z-index: 1;
	clear: both;
	padding-top: 50px;
	font-size: 16px;
	color: #1e3a6d;
}
.contacts li{
	padding-left: 45px;
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tel{
	background: url(../img/tel.png)no-repeat left;
}
.email{
	background: url(../img/email.png)no-repeat left;
}
.site{
	background: url(../img/web.png)no-repeat left;
}
.feedback{
	position: relative;
	z-index: 1;
	float: right;
	width: 530px;
	text-align: right;
}
.feedback input{
    transition: 0.3s all;
	width: 480px;
	border:1px solid #e3e3e6;
	box-shadow: 0px -1px 1px #b7b7ba;
	margin: 10px 0;
	color: black;
}
.feedback textarea{
	resize:none;
	width: 480px;
	height: 155px;
	border:1px solid #e3e3e6;
	box-shadow: 0px -1px 1px #b7b7ba;
	padding: 5px;
	position: relative;
	font-weight: normal;

}

.feedback textarea:after{
	content: '2';
	height: 25px;
	width: 25px;
	position: absolute;
	left: 0;
	top: 0;
}
.feedback .submit{
	max-width: 150px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    background: -webkit-linear-gradient(#4f83b5 4%, #2d4f93 100%);
    background: -o-linear-gradient(#4f83b5 4%, #2d4f93 100%);
    background: linear-gradient(#4f83b5 4%, #2d4f93 100%);
    border: 1px solid #1b3d86;
	max-width: 120px;
	position: relative;
	padding: 0;
	margin-top: 20px;	
	margin-right: 45px;
	color: white;
    padding: 0 15px;
	height: 30px;
}
.feedback input[type="submit"]{
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    background: none;
    border:none;
    outline: none;
    box-shadow: none;
	max-width: 95px;
	color: white;
	margin-top: 4px;

}
.feedback label.form-text{
	margin-top: 15px;
	position: relative;
}
.feedback label.form-text:before{
	content: '';
	background: url(../img/angle.png)no-repeat;
	z-index: 1;
	height: 31px;
	width: 19px;
	position: absolute;
	right: -2.5px;
	bottom: 0px;
}
.footer{
	height: 75px;
	position: relative;
}
.footer:after{
	position: absolute;
	content: '';
	height: 205px;
	width: 100%;
	left: 0;
	bottom: 0;
	background: url(../img/bck-footer.png)no-repeat center;
}
.footer p{
	position: relative;
	z-index: 1;
	color: white;
	text-align: right;
	line-height: 70px;
}
.head-top{
	position: relative;
}
.head-fixed{
	position: fixed;
	background: rgba(48,58,75,0.9);
	z-index: 15;
	top: -100px;
	width: 1000px;
	    background: linear-gradient(to right, #3e5a91 0%, #6361a4 50%, #618bae 100% );
}
.head-fixed .fix-head-left{
	width: 100px;
	background: #3e5a91;
	height: 56px;
	content: '';
	position: absolute;
	left: -100px;
	top: 0;
}
.head-fixed .fix-head-right{
    background: linear-gradient(to right, #618bae 0%, #3e5a91 100%);
	width: 100px;
	height: 56px;
	content: '';
	position: absolute;
	right: -100px;
	top: 0;
}
.tb-prof{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 35px;
	display: block;
}
.min-width{
	width: 75%;
}
.all-prof{
	position: absolute;
	height: 35px;
	min-width:100%;
}
.feedback input[type='name']:focus,.feedback textarea:focus {
    border: 1px solid #C8B3FF;
}
.tb-arrows{
	position: absolute;
	right: 0;
	top:10px;
	height: 20px;
	width: 50px;
}
.tb-left{
	background: url(../img/tablet/tb-left.png)no-repeat center;
	height: 20px;
	width: 20px;
	display: inline-block;
	position: absolute;
	left: 0;
	cursor: pointer;
}
.tb-right{
	position: absolute;
	right: 0;
	background: url(../img/tablet/tb-right.png)no-repeat center;
	height: 20px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
}
.dnone{
	display: none;

}
.services.price .all-prof{
	right: 0;
}
.services.price .min-width{
	float: right;
}
.services.price .tb-arrows{
	left: 0;
	right: auto;
}
.slider-tablet{
	position: relative;
    height: 551px;
    width: 55%;
    bottom: 8px;
    left: 100px;
    background: url(../img/tablet/slider.png)no-repeat center;
    /*display: none;*/
    color: white;
    display: inline-block;
}
.slider-tb-content{
	width: 460px;
	height: 380px;
	display: block;
	margin:0 auto;
	position: relative;
	top: 30px;
}
.slider-tb-title{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
.slider-tb-img{
	margin-bottom: 20px;
}
.slider-tb-text{
	font-size: 14px;
}
.owl-carousel-top .owl-next{
	background: url(../img/tablet/arrow-right.png)no-repeat center;
	right: -35px;
}
.owl-carousel-top .owl-prev{
	background: url(../img/tablet/arrow-left.png)no-repeat center;
	left: -35px;
}
.owl-carousel-top .owl-next,.owl-carousel-top .owl-prev{
	top: 144px;
}
.slogan{
	width: 100%;
	height: 295px;
	background: url(../img/tablet/bck-slogan.png)no-repeat center;
	display: none;
	text-align: center;
}
.slogan h1{
	color: #654185;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 35px 0 15px 0;
}
.sl-title{
	font-size: 18px;
	color: #4675ac;
	font-weight: bold;
}
.sl-text{
	width: 65%;
	margin: 15px auto 0 auto;
	font-size: 16px;
}
.header-top-menu {
	display: none;
	height:50px;
	width: 50px;
	background: url(../img/tablet/menu-icon.png)no-repeat center 20px;
	cursor: pointer;
	z-index: 5;
}
.header-top-menu li{
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #353e81;
	width: 100%;
}
.header-top-menu li a{
	height: 100%;
	width: 100%;
	display: block;
	color: white;
}
.header-top-menu li a:hover,.header-top-menu li a:active{
	background: #163163;
}
.header-top-menu .header-hidden{
	    overflow: hidden;
    height: 0;
    position: relative;
    top: 60px;
    }
    .slogan-wg{
    	display: inline-block;
    	width: 370px;
    	height: 500px;
   	 vertical-align: middle;
    position: relative;
    }

    .slogan-wg:after{
    	background: url(../img/slider-bck.png)no-repeat  left top;
    	position: absolute;
    	content: "";
    	height:383px;
    	width:673px;
    	left: -52px;
    	top: 0;
		z-index: 1;
    }

    .slogan-wg-logo,.slogan-wg-text,.slogan-wg-title{
    	position: relative;
    	z-index: 2;
    	padding-left: 75px;

    }
    .slogan-wg-title{
    	color: #57edff;
    	font-weight: bold;
    	font-size: 18px;
    	padding-top: 40px;
    }
    .slogan-wg-logo{
    	text-shadow: 1px 2px 1px #2a325f;
    	font-size: 36px;
    	font-weight: bold;
    	color: white;
    	text-transform: uppercase;
    	padding: 15px 0px 15px 75px;
    }
    .slogan-wg-text{
    	font-size: 14px;
    	color: white;
    }
    .logo {
    	padding-top: 5px;
    }


    ::-webkit-input-placeholder {color:#335799;}
::-moz-placeholder          {color:#335799;}
:-moz-placeholder           {color:#335799;}
:-ms-input-placeholder      {color:#335799;}


/*Bid diagonal*/

.services.price .services-bck-l{
	position: absolute;
	height: 113%;
	width: 200px;
	left: 0;
	top: -85px;
	background: #324177;
	background: linear-gradient(to bottom, #324177 0%, #323D75 100%);
}
.services.price .services-bck-r{
	    position: absolute;
        height: 92.8%;
    width: 200px;
    right: 0;
    top: -20px;
    background: #324177;
        background: linear-gradient(to bottom, #2F3F74 52%, #4F6B9A 99%);
}
.services.price.reviews .services-bck-l{
	position: absolute;
	height: 101%;
	width: 200px;
	left: 0;
	top: -8px;
	background: #324177;
	background: linear-gradient(to bottom, #293D6D 0%, #323D75 100%);
}
.services.price.reviews .services-bck-r{
	    position: absolute;
        height: 118%;
    width: 200px;
    right: 0;
    top: -85px;
    background: #324177;
        background: linear-gradient(to bottom, #273C6B 0%, #313D74 50%,#3A497F 99%);
}
.services.contact .services-bck-r{

       position: absolute;
    height: 74%;
    width: 200px;
    right: 0;
    top: -4px;
    background: #D5D2EB;

}
.footer .services-bck-l{
	position: absolute;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0px;
    background: #253B69;
}
.footer .services-bck-r{
	       position: absolute;
    height: 271%;
    width: 200px;
    right: 0;
    top: -128px;
    background: #375581;
}
.tb-name-adaptive{
	position: relative;
	display: none;
}
.tb-name-adaptive .min-width{
	width: 200px;
	margin: 0 auto; 
}
.tb-name-adaptive .min-width li{
	height: 35px;
	text-align: center;
	width: 200px;
	line-height: 35px;
	float: left;
	color: #4575ab;
	font-weight: bold;
	cursor: pointer;
}
.tb-name-adaptive .min-width .all-prof{

}
.tb-name-adaptive .tb-left, .tb-name-adaptive .tb-right{
	top: 8px;
}
.tb-name-adaptive .tb-left{
	display: none;
	left: 50px;
}
.tb-name-adaptive .tb-right{
	right: 50px;

}
.services.price .tb-name-adaptive .min-width li{
	color: white;
}
.header.other-head{
	height: 69px;
}
.services.other-services:after{
	content: "";
    width: 100%;
    height: 100px;
    background: url(../img/other-bck.png)repeat-x center 0px;
    position: absolute;
    top: -2px;
}
.services.other-services .tablet-block .title{
    margin-top: 35px;
}
.tb-info-text .title-pop-up{
	color: #4575ab;
	font-size: 16px;
	font-family: 'Calibri';
	text-transform: uppercase;
	margin-bottom: 15px;
	width: 80%;
}
.tb-info-text .text-popup{
	color: #000000;
	background: #f8f8f8;
	border-top:1px solid #d9d9d9;
	padding: 15px;
}
.tb-info-text ul{
	padding-left: 40px;
}
.tb-info-text ul li{
	margin-bottom: 20px;
}